//**********************
// Color Variables
//**********************
$primary-background-color: #fff;
$secondary-background-color: #07f;
$primary-font-color: #000;
$light-font-color: #999;
$secondary-hover-color: #d3d3d3bc;
$light-border-color: #92b0b3;
$primary-selected-background-color: #000;
// Colors for the dark theme
$dark-theme-background: #26282C;
$dark-theme-font-color: #999;
$light-theme-font-color: #fff;
//**********************
// Breakpoints
//**********************
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;
//**********************
// Fonts Variables
//**********************
/*

   Fonts Variables Here

*/