.drawer-wrapper {
  position: fixed;
  height: 100vh;
  width: 290px;
  overflow-y: scroll;
  scrollbar-width: none;
  transform: translateX(0px);
  background-color: var(--light-background);
  z-index: 1020;
}
.drawer-wrapper::-webkit-scrollbar {
  display: none;
}
.drawer-content {
  margin-top: 25%;
}
.__btn-primary {
  background-color: $secondary-background-color;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
}
.__btn-primary:hover {
  color: #fff;
  background-color: #016eeb;
}
.mini-card {
  border: 1px solid $light-font-color;
  border-radius: 10px;
  margin: 20px;
}
.card-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.card-content h2 {
  font-size: 20px;
}
.card-content h2,
span {
  width: 100%;
  text-align: center;
}
.trending-menu h6 {
  color: $light-font-color;
}
.nav-sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trending-menu .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.trending-menu li {
  padding: 5px;
  cursor: pointer;
}

.drawer-active{
  transform: translateX(-500px);
  transition: 0.4s ease-in;
  opacity: 0;
}
.navbar-drawer{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}

@media screen and (max-width: 500px){
  .drawer-wrapper{
    z-index: 1060;
  }
}